{% extends 'app_salas_reuniao/base_salas_reuniao.html' %}
{% load static %}
{% block title %} Cadastro de Equipes {% endblock %}

{% block content %}
<div class="container-sm"></div>
{%if messages %}
<div>
    {% for massage in messages %}
        <div class="alert alert-{{massage.tags}} alert-dismissible fade show" role="alert">
            {{massage}}
            <button type="button" class="btn-close" data-bs-dismiss = "alert" aria-label="Close"></button>
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="card mb-3" style="border: 1px solid #007bff;">
    <div class="card-header bg-primary text-white">
        Cadastrar Sala
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.nome.label_tag }}
                {{ form.nome }}
            </div>
            <div class="mb-3">
                {{ form.capacidade.label_tag }}
                {{ form.capacidade }}
                
            </div>
            <div class="mb-3">
                {{ form.localizacao.label_tag }}
                {{ form.localizacao }}
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>    
        </form>
    </div>
</div>

{% endblock %}