<div class="row">
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 01)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 01)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
        <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 02)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 02)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="{%url 'index_app_gestao_proj'%}" style="color: MidnightBlue;text-decoration:none;">Sistema de Gestão de Projetos</a></h5>
                       <p class="card-text">Para organizar tarefas, equipes e progresso dos projetos.</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 04)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 04)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 05)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 05)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 06)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 06)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 07)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 07)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 08)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 08)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 09)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 09)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 10)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 10)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="#" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 11)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 11)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>
    <div class="col-6">
       <div class="card mb-3" style="max-width: 540px;">
           <div class="row g-0">
                <div class="col-md-2 px-3 py-2 bg-body-secondary text-center rounded-start">
                   <i class="bi-people" style="font-size: 3rem; color: MidnightBlue;"></i>
                </div>
                <div class="col-md-9">
                   <div class="card-body">
                       <h5 class="card-title"><a href="{% url 'index_locaimoveis'%}" style="color: MidnightBlue;text-decoration:none;">Nome do Sistema (aplicativo 12)</a></h5>
                       <p class="card-text">Descrição do Sistema (aplicativo 12)</p>
                   </div>
                </div>
           </div>
       </div>
    </div>

</div>
