{% extends 'app_gestao_proj/base_app_gestao.html' %}

{% block title %} Cadastro de Projetos {% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container-sm"></div>
    {%if messages %}
    <div>
        {% for massage in messages %}
            <div class="alert alert-{{massage.tags}} alert-dismissible fade show" role="alert">
                {{massage}}
                <button type="button" class="btn-close" data-bs-dismiss = "alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            Cadastrar Projetos
        </div>
        <div class="card-body">
            <form method="POST"
            action="{% if projeto.id %} 
                         {% url 'editar_projetos' projeto.id %}
                    {% else %}
                         {% url 'criar_projetos' %}
                    {% endif %}">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.equipe_responsavel.label_tag }}
                    {{ form.equipe_responsavel }}
                </div>
                <div class="mb-3">
                    {{ form.nome_projeto.label_tag }}
                    {{ form.nome_projeto }}
                </div>
                <div class="mb-3">
                    {{ form.descricao.label_tag }}
                    {{ form.descricao }}
                </div>
                <div class="mb-3">
                    {{ form.situacao.label_tag }}
                    {{ form.situacao }}
                </div>
                <div class="mb-3">
                    {{ form.data_inicio.label_tag }}
                    {{ form.data_inicio }}
                </div>
                <div class="mb-3">
                    {{ form.data_conclusao.label_tag }}
                    {{ form.data_conclusao }}
                </div>
                <input type="hidden" id="{{projeto.id}}">
                <button type="submit" class="btn btn-primary">Salvar</button>    
            </form>
        </div>
    </div>           

    <div class="card"></div>
        <div class="card-header">
            Lista de projetos
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>#id</td>
                            <td>Equipe Responsável</td>
                            <td>Projeto</td>
                            <td>Descrição</td>
                            <td>Situação</td>
                            <td>Data de Inicio</td>
                            <td>Data de conclusáo</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in lista_projetos %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.equipe_responsavel}}</td>
                            <td>{{i.nome_projeto}}</td>
                            <td>{{i.descricao}}</td>
                            <td>{{i.situacao}}</td>
                            <td>{{i.data_inicio}}</td>
                            <td>{{i.data_conclusao}}</td>
                            <td><a href="{% url 'editar_projetos' i.id %}"  class="btn btn-primary">Alterar</a></td>
                                <td><a href="{% url 'excluir_projetos' i.id %}" class="btn btn-primary" onclick="confirmDelete(event, this);">Excluir</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmDelete(event, element) {
        event.preventDefault();  // Impede o link de ser seguido imediatamente
        Swal.fire({
            title: 'Tem certeza?',
            text: "Você não poderá desfazer esta ação!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, excluir!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = element.href;  // Se confirmado, segue o link de exclusão
            }
        })
    }
</script>
{% endblock %}