{% extends 'app_gestao_proj/base_app_gestao.html' %}

{% block title %} Cadastro de Projetos {% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container-sm mt-5">
    {%if messages %}
    <div>
        {% for massage in messages %}
            <div class="alert alert-{{massage.tags}} alert-dismissible fade show" role="alert">
                {{massage}}
                <button type="button" class="btn-close" data-bs-dismiss = "alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="card border-black mb-4">
        <div class="card-header border-black text-center bg-primary-subtle">
            <h5>Cadastrar Projetos</h5>
        </div>
        <div class="card-body border-black bg-info">
            <form method="POST"
            action="{% if projeto.id %} 
                         {% url 'editar_projetos' projeto.id %}
                    {% else %}
                         {% url 'criar_projetos' %}
                    {% endif %}">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.equipe_responsavel.label_tag }}
                    {{ form.equipe_responsavel }}
                </div>
                <div class="mb-3">
                    {{ form.nome_projeto.label_tag }}
                    {{ form.nome_projeto }}
                </div>
                <div class="mb-3">
                    {{ form.descricao.label_tag }}
                    {{ form.descricao }}
                </div>
                <div class="mb-3">
                    {{ form.situacao.label_tag }}
                    {{ form.situacao }}
                </div>
                <div class="mb-3">
                    {{ form.data_inicio.label_tag }}
                    {{ form.data_inicio }}
                </div>
                <div class="mb-3">
                    {{ form.data_conclusao.label_tag }}
                    {{ form.data_conclusao }}
                </div>
                <input type="hidden" id="{{projeto.id}}">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'listar_projetos' %}" class="btn btn-secondary">Cancelar</a>    
            </form>
        </div>
    </div>           

    <div class="card border-black mt-4">
        <div class="card-header border-black mb-4 bg-danger">
            <h5>Lista de projetos</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered border-black">
                    <thead class="table-light text-center border-black">
                        <tr>
                            <th>#id</th>
                            <th>Equipe Responsável</th>
                            <th>Projeto</th>
                            <th>Descrição</th>
                            <th>Situação</th>
                            <th>Data de Inicio</th>
                            <th>Data de conclusáo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in lista_projetos %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.equipe_responsavel}}</td>
                            <td>{{i.nome_projeto}}</td>
                            <td>{{i.descricao}}</td>
                            <td>{{i.situacao}}</td>
                            <td>{{ i.data_inicio|date:"d/m/Y" }}</td>
                            <td>{{ i.data_conclusao|date:"d/m/Y" }}</td>
                            <td>
                                <a href="{% url 'editar_projetos' i.id %}"  class="btn btn-primary btn-sm">Alterar</a>
                                <a href="{% url 'excluir_projetos' i.id %}" class="btn btn-danger btn-sm" onclick="confirmDelete(event, this);">Excluir</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmDelete(event, element) {
        event.preventDefault();  // Impede o link de ser seguido imediatamente
        Swal.fire({
            title: 'Tem certeza?',
            text: "Você não poderá desfazer esta ação!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, excluir!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = element.href;  // Se confirmado, segue o link de exclusão
            }
        })
    }
</script>
{% endblock %}